@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* VARIABLES */
  :root {
    /* SIZE */
    --header-height: 158px;
    --top-header-height: 44px;
    --main-header-height: calc(var(--header-height) - var(--top-header-height));
    --logo-wide: 228px;

    /* COLORS */
    --black-color: #000;
    --white-color: #fff;
    --primary-color: #ffd400;
    --secondary-color: #ffac0a99;
  }
  /* BASE CSS */
  * {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  html {
    line-height: 1.7rem;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
  }

  body {
    font-size: 1.4rem;
    background: #f3f3f3;
  }

  input {
    outline: none;
    border: 0;
  }

  input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 1.2rem;
    font-weight: normal;
    color: #777;
  }
  input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 1.2rem;
    font-weight: normal;
    color: #777;
  }
  input:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 1.2rem;
    font-weight: normal;
    color: #777;
  }
  input:-moz-placeholder {
    /* Firefox 18- */
    font-size: 1.2rem;
    font-weight: normal;
    color: #777;
  }
}

@layer components {
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    padding: 6px 14px;
    font-size: 1.2rem;
    line-height: 14px;
    background: var(--secondary-color);
    border-radius: 4px;
  }

  .product-card {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;

  }
}

@layer utilities {
  .container {
    max-width: 1220px;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
  }
  .responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-banner__icon {
    position: absolute;
    color: rgb(51, 51, 51);
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-banner__icon:hover {
    color: var(--white-color);
    cursor: pointer;
  }

  .header-banner__next {
    right: 20px;
  }

  .header-banner__prev {
    left: 20px;
  }

  .separate {
    border-right: 1px solid #ffe56c;
  }

  .cate-active {
    color: #2f80ed;
    border-bottom: 3px solid currentcolor;
  }

  .product-filter {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
  }

  .product-filter:hover {
    border: 1px solid #2f80ed;
  }
  
  .product-filter.active {
    border: 1px solid #2f80ed;
  }

  .discount-animation {
    animation: discount linear 2s infinite;
  }

  .triangle::after {
    content: "";
    position: absolute;
    border-width: 16px 16px;
    border-color: transparent transparent white transparent;
    top: -30%;
    right: 0;
    z-index: 1;
  }
}

@keyframes discount {
  from {
    color: red;
  }
  to {
    color: green;
  }
}