@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }
    
    html {
        line-height: 1.7rem;
        font-size: 62.5%;
        font-family: 'Roboto', sans-serif;
        box-sizing: border-box; 
    }
    
    body {
        font-size: 1.4rem;
    }
    
    input {
        outline: none;
        border: 0;
    }
}

@layer components {
    
}

@layer utilities {

}

/* Header */
.header {
    height: var(--header-height);
    display: block;
}

.header-top {
    background: var(--black-color);
}

.header-banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-top__banner {
    height: var(--header-top-height);
    position: relative;
}

.header-banner__icon {
    position: absolute;
    color: rgb(51, 51, 51);
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

.header-banner__icon:hover {
    color: var(--white-color);
    cursor: pointer;
}

.header-banner__next {
    right: 12px;
}

.header-banner__prev {
    left: 12px;
}   

.header-main {
    height: calc(var(--header-height) - var(--header-top-height));
    background: var(--primary-color);
    padding-top: 10px;
}

.header-mid {
    display: flex;
    align-items: center;
}

.header-mid__branch {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 137px;
    padding: 4px 6px 4px 10px;
    font-size: 1.1rem;
    line-height: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.header-mid__branch i {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(calc(-50% - 2px));
    font-size: 14px;
}

.header-mid__branch span {
    color: #333;
    font-weight: bold;
}

.header-logo {
    padding-right: 15px;
}

.header-logo__img {
    width: 228px;
}

.header-mid__search {
    height: 40px;
    width: 300px;
    border-radius: 4px;
}

.header-mid__search input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 13px;
}